div{ 
  /* delete later */
  border: 1px dotted black;
}
  
body{
  display: grid;
  grid-template:auto / auto auto auto;
  background-color: gray;
  justify-content:space-between
}

.block {
    background-color: #FFAAEE;
    height: 95vh;
    width: 21vw;
    border: 1px solid black;
    border-radius: 10px;
  }

  #nav-content, nav{
    display: flex;
    flex-direction: column;
  }

    button{
      display: flex;
      justify-self: flex-start;
    }
    
    /* Workspaces */
    div.username, div.ws-title{
      display: flex;
      justify-content: space-between;
    }

    .icon{
      height: 20px;
    }

  body>.info{
    width: 54vw;
  }

  div.form-container {
    visibility: hidden;
    height: 0
   }

