.hello {
    color: blue;
  }

div{ 
  /* delete later */
  border: 1px dotted black;
}
  
body{
  display: grid;
  grid-template:auto / auto auto auto;
  background-color: gray;
  justify-content: space-between;
}

.block {
    background-color: #FFAAEE;
    height: 95vh;
    width: 30vw;
    border: 1px solid black;
  }

  .nav{
  display: grid;
  grid-template:auto auto/ auto;
  }

